@charset "UTF-8";

.container {
	margin: 0 auto;
	width: 800px;
	border: 1px solid black;
	width: 800px;
}

ul {
	text-align: center;
	list-style: none;
}

ul li {
	margin: 0 auto;
	display: inline-block;
}

ul li a {
	color : black;
	text-decoration: none;
}